
body {
    background-color: #e4cfea;
    color: #2b2a2b;
    padding: 20px;
    line-height: 1.6;

        font-family: "Silkscreen", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

.herotitle{
    font-size: 5rem;
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
}
.highlight{
    color: #553663;
    font-size: 25px;
    font-weight: 600;
    
}
h1,h2,h3{
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
  }

input, select {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
    padding: 10px;
    border: 3px solid #413d48;
    border-radius: 4px;
    font-size: 1rem;
    
}

button{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 30%;
    padding: 10px;
    border: 2px solid #2a2631;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #a989b3; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.deletebutton{
    width: 60%;
    font-size: 18px;
    font-weight: 200;
}

.expense-list {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgb(248, 237, 251);
    border: 3px solid #413d48;
}

.expense-list th,
.expense-list td {
    padding: 12px;
    text-align: center;
    border: 2px solid #413d48;
}

.expense-list th {
    background-color: #413d48;
    color: white;
}

#categorychart {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto; 
}
