<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title> WEEKLY ANALYTICS</title>
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
   
</head>
<body>
    <div>
        i didnt have time to complete this :[
        <p>
            its supposed to have a bar graph comparing all the daily money spent per week both day-wise and category-wise
        </p>
        <p>
            please check out daily tracker 
        </p>
    </div>
</body>
<footer>
    <p>this page is still under development</p>
    copyrightie  &#169; veeks
</footer>

</html>
